<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EventManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>SignIn.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>JSP/createEvent.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.project.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEvent</display-name>
    <servlet-name>ShowEvent</servlet-name>
    <servlet-class>com.project.controller.ShowEventDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEvent</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEventExtra</display-name>
    <servlet-name>ShowEventExtra</servlet-name>
    <servlet-class>com.project.controller.ShowEventExtraDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEventExtra</servlet-name>
    <url-pattern>/ShowEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>createEventController</display-name>
    <servlet-name>createEventController</servlet-name>
    <servlet-class>com.project.controller.createEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createEventController</servlet-name>
    <url-pattern>/createEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eventsforregister</display-name>
    <servlet-name>Eventsforregister</servlet-name>
    <servlet-class>com.project.controller.Eventsforregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eventsforregister</servlet-name>
    <url-pattern>/Eventsforregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEvent</display-name>
    <servlet-name>DeleteEvent</servlet-name>
    <servlet-class>com.project.controller.DeleteEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEvent</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalDelete</display-name>
    <servlet-name>FinalDelete</servlet-name>
    <servlet-class>com.project.controller.FinalDeleteEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalDelete</servlet-name>
    <url-pattern>/FinalDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.project.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationadded</display-name>
    <servlet-name>Registrationadded</servlet-name>
    <servlet-class>com.project.controller.Registrationadded</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationadded</servlet-name>
    <url-pattern>/Registrationadded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelRegistration</display-name>
    <servlet-name>CancelRegistration</servlet-name>
    <servlet-class>com.project.controller.CancelRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelRegistration</servlet-name>
    <url-pattern>/CancelRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationforuser</display-name>
    <servlet-name>Registrationforuser</servlet-name>
    <servlet-class>com.project.controller.Registrationforuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationforuser</servlet-name>
    <url-pattern>/Registrationforuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRegisteration</display-name>
    <servlet-name>UpdateRegisteration</servlet-name>
    <servlet-class>com.project.controller.UpdateRegisteration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRegisteration</servlet-name>
    <url-pattern>/UpdateRegisteration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationdeleted</display-name>
    <servlet-name>Registrationdeleted</servlet-name>
    <servlet-class>com.project.controller.Registrationdeleted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationdeleted</servlet-name>
    <url-pattern>/Registrationdeleted</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEventUpdate</display-name>
    <servlet-name>ShowEventUpdate</servlet-name>
    <servlet-class>com.project.controller.updateEvent.ShowEventForUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEventUpdate</servlet-name>
    <url-pattern>/ShowEventUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsForUpdate</display-name>
    <servlet-name>DetailsForUpdate</servlet-name>
    <servlet-class>com.project.controller.updateEvent.EventDetailsForUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsForUpdate</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventDetails</display-name>
    <servlet-name>UpdateEventDetails</servlet-name>
    <servlet-class>com.project.controller.updateEvent.UpdateEventDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventDetails</servlet-name>
    <url-pattern>/UpdateEventDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFood</display-name>
    <servlet-name>AddFood</servlet-name>
    <servlet-class>com.project.controller.AddFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFood</servlet-name>
    <url-pattern>/AddFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodQuantity</display-name>
    <servlet-name>FoodQuantity</servlet-name>
    <servlet-class>com.project.controller.FoodQuantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodQuantity</servlet-name>
    <url-pattern>/FoodQuantity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodList</display-name>
    <servlet-name>UpdateFoodList</servlet-name>
    <servlet-class>com.project.controller.UpdateFoodList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodList</servlet-name>
    <url-pattern>/UpdateFoodList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGuest</display-name>
    <servlet-name>AddGuest</servlet-name>
    <servlet-class>com.project.controller.AddGuest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGuest</servlet-name>
    <url-pattern>/AddGuest</url-pattern>
  </servlet-mapping>
</web-app>